<div
  style="
    min-height: 60px;
    background-color: rgb(6, 45, 45);
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 100px;
    margin-bottom: 60px;
  "
>
  <h4><a href="/">Home</a></h4>
  <h4><a href="/posts">Posts</a></h4>
  <h4><a href="/add-post">New Post</a></h4>
  <h4><a href="/contacts">Contacts</a></h4>
</div>
