<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="container">
      <%- include("./partials/nav.ejs") %>
      <h1>MAIN PAGE:</h1>
      <div style="display: flex; flex-direction: column; align-items: center">
        <h1>Main page</h1>
        <h3>Hello This is a Main page</h3>
      </div>
    </div>
  </body>
</html>
